<p id="notice"><%= notice %></p>

<p>
  <strong>A interesse:</strong>
  <%= @pdialuno.a_interesse %>
</p>

<p>
  <strong>A antencao:</strong>
  <%= @pdialuno.a_antencao %>
</p>

<p>
  <strong>A concentracao:</strong>
  <%= @pdialuno.a_concentracao %>
</p>

<p>
  <strong>A compreencao:</strong>
  <%= @pdialuno.a_compreencao %>
</p>

<p>
  <strong>A habilidades:</strong>
  <%= @pdialuno.a_habilidades %>
</p>

<p>
  <strong>A pensamento:</strong>
  <%= @pdialuno.a_pensamento %>
</p>

<p>
  <strong>A expressao:</strong>
  <%= @pdialuno.a_expressao %>
</p>

<p>
  <strong>A linguagem:</strong>
  <%= @pdialuno.a_linguagem %>
</p>

<p>
  <strong>A percepcoes:</strong>
  <%= @pdialuno.a_percepcoes %>
</p>

<p>
  <strong>A diferenca:</strong>
  <%= @pdialuno.a_diferenca %>
</p>

<p>
  <strong>A espacial:</strong>
  <%= @pdialuno.a_espacial %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @pdialuno.aluno %>
</p>

<%= link_to 'Edit', edit_pdialuno_path(@pdialuno) %> |
<%= link_to 'Back', pdialunos_path %>
