<div class="well well-sm"><h2>Dados Familiares</h2>
    <div class="row">

        <div class="col-xs-6 ">
              <div class="control-group">
                <%= "Nome" %>
                <div class="controls"><strong><%= @aluno.nome %></strong></div>
              </div>
        </div>

        <div class="col-md-4">

               <div class="control-group">
                <%= "Endereço" %>
                <div class="controls"><strong><%= @aluno.endereco %></strong></div>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= "Número" %>
                <div class="controls"><strong><%= @aluno.numero %></strong></div>
              </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= "Bairro" %>
                <div class="controls">
                  <strong><%= @aluno.bairro %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-4">

               <div class="control-group">
                <%= "Cidade" %>
                <div class="controls">
                  <strong><%= @aluno.cidade %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= "Estado" %>
                <div class="controls">
                  <strong><%= @aluno.estado %></strong>
                </div>
              </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= "Email" %>
                <div class="controls">
                  <strong><%= @aluno.email %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-2">

               <div class="control-group">
                <%= "Telefone" %>
                <div class="controls">
                  <strong><%= @aluno.telefone %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= "Celular" %>
                <div class="controls">
                  <strong><%= @aluno.celular %></strong>
                </div>
              </div>
        </div>

		<div class="col-md-2">

              <div class="control-group">
                <%= "Ativo" %>
                <div class="controls">
                  <strong><%= @aluno.ativo %></strong>
                </div>
              </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-3">
              <div class="control-group">
                <%= "R.G." %>
                <div class="controls">
                  <strong><%= @aluno.rg %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-3">

               <div class="control-group">
                <%= "C.P.F." %>
                <div class="controls">
                  <strong><%= @aluno.cpf %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= "Data de Nascimento" %>
                <div class="controls">
                  <strong><%= @aluno.data_nascimento %></strong>
                </div>
              </div>
        </div>

		<div class="col-md-3">

              <div class="control-group">
                <%= "Data de Cadastro" %>
                <div class="controls">
                  <strong><%= @aluno.data_cadastro %></strong>
                </div>
              </div>
        </div>

    </div>

   <div class="row">

        <div class="col-xs-3">
              <div class="control-group">
                <%= "Naturalidade" %>
                <div class="controls">
                  <strong><%= @aluno.naturalidade %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-3">

               <div class="control-group">
                <%= "Ciclo" %>
                <div class="controls">
                  <strong><%= @aluno.ciclo%></strong>
                </div>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= "R.A." %>
                <div class="controls">
                  <strong><%= @aluno.ra %></strong>
                </div>
              </div>
        </div>

		<div class="col-md-3">

              <div class="control-group">
                <%= "SIGM" %>
                <div class="controls">
                  <strong><%= @aluno.idpdi %></strong>
                </div>
              </div>
        </div>

    </div>
   <div class="row">

        <div class="col-xs-4">
              <div class="control-group">
                <%= "Deficiência" %>
                <div class="controls">
                  <strong><%= @aluno.deficiencia %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-4">

               <div class="control-group">
                <%= "Data Fechamento do Diagnóstico" %>
                <div class="controls">
                  <strong><%= @aluno.data_fechamento_diagnostico %></strong>
                </div>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= "Escola Origem" %>
                <div class="controls">
                  <strong><%= @aluno.escola_origem %></strong>
                </div>
              </div>
        </div>
	</div>


</div>
</div>
